@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');



html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1593532847202-e818146e134a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'); */
    background-position: right top;
}

#container {
	height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.input-field {
    padding-top: 5%;
    padding-bottom: 5%;
}

.sidebar {
    min-width: 10%;
    max-width: 15%;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* display: inline-block; */
    vertical-align: top;
    height: 100%;
    overflow: auto;
    position: fixed;
    display: flex;
    justify-content: center;
}

#sidebar-content {
    margin-left: 15px;
	align-self: center;
    justify-self: center;
    margin-bottom: 120px;  
}

.menu-item {
    font-weight: bold;
    letter-spacing: .1rem;
    padding-bottom: 10%;
    text-decoration: none;
}

.content-wrap {
    margin-left: 20%;
    margin-right: 16%;
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#home-video {
    /* width: 100vw;
    height: 100vh; */
    object-fit: contain;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* z-index: -1; */
}

#contemporary-content {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to left, rgba(255, 255, 255, -0.0), rgba(255, 255, 255, 1.0)), 
    url('https://wallpaper.dog/large/10707366.jpg');
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#cubism-content {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to left, rgba(255, 255, 255, -0.0), rgba(255, 255, 255, 1.0)), 
    url('https://wallpaper.dog/large/10707416.jpg');
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#impressionism-content {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to left, rgba(255, 255, 255, -0.0), rgba(255, 255, 255, 1.0)), 
    url('https://img4.goodfon.com/wallpaper/nbig/c/3c/konstantin-korovin-vid-iuzhnoi-frantsii-kartina-ulitsa-doma.jpg');
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#popart-content {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to left, rgba(255, 255, 255, -0.0), rgba(255, 255, 255, 1.0)), 
    url('https://images.unsplash.com/photo-1593532847202-e818146e134a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#post-impressionism-content {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(to left, rgba(255, 255, 255, -0.0), rgba(255, 255, 255, 1.0)), 
    url('https://wallpaperaccess.com/download/expressionist-abstract-1824874');
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.right-sidebar {
    min-width: 10%;
    max-width: 18%;
    /* display: inline-block; */
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 85%;
    right: 0%;
    display: flex;
    /* justify-self: flex-end; */
    justify-content: center;

}

#right-sidebar-content {
    display: inline;
	align-self: flex-start;
    padding-right: 600px;
    justify-self: flex-start;
    transform: rotate(-90deg);
    font-size: 40px;
    letter-spacing: 1rem;
}

.product-box-right {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-details-left {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 5% 5% 5% 5% 5% 5%;
}

.product-image-right {
    grid-column: 2 / 3;
    height: 50%;
    max-width: 25%;
    display: flex;
}

.product-box-left {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-details-right {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 5% 5% 5% 5% 5% 5%;
}

.product-image-left {
    grid-column: 1 / 2;
    height: 50%;
    max-width: 25%;
}

img {
    max-height: 60%;
    justify-self: center;
    box-shadow: 10px 10px 5px #ccc;
}

/* .product-image-right > img {
    max-height: 60%;
} */

.category-intro {
    margin-top: 400px;
    height: 300px;
}