@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');



html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#container {
	height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    min-width: 12%;
    max-width: 18%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* display: inline-block; */
    vertical-align: top;
    height: 100%;
    overflow: auto;
    position: fixed;
    display: flex;
    justify-content: center;
}

#sidebar-content {
	align-self: center;
    justify-self: center;
}

.content-wrap {
    margin-left: 18%;
    margin-right: 16%;
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.right-sidebar {
    min-width: 10%;
    max-width: 18%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* display: inline-block; */
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 85%;
    right: 0%;
    display: flex;
    /* justify-self: flex-end; */
    justify-content: center;

}

.product-box {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#right-sidebar-content {
	align-self: center;
    justify-self: center;
    transform: rotate(-90deg);
    font-size: 40px;
}

.product-details {
    grid-column: 1 / 2;
}

.product-image {
    grid-column: 2 / 3;
    height: 50%;
    max-width: 25%;
}

.product-image > img {
    max-height: 60%;
}